name: Create Release Candidate

on: 
  workflow_dispatch:
    inputs:
      version:
        description: 'Release Version'
        required: true

jobs:
  create-release-candidate:
    runs-on: ubuntu-latest

    steps:

      - name: "Create branch: release/${{ github.event.inputs.version }}"
        uses: peterjgrainger/action-create-branch@v3.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: release/${{ github.event.inputs.version }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: release/${{ github.event.inputs.version }}

      - name: Create Release PR
        uses: repo-sync/pull-request@v2
        with:
          source_branch: release/${{ github.event.inputs.version }}
          destination_branch: master
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_label: release
          pr_assignee: leonlatsch
          pr_reviewer: leonlatsch
          pr_title: "Release: ${{ github.event.inputs.version }}"
          pr_body: |
            ## Release PR ${{ github.event.inputs.version }}
            
            Release Version ${{ github.event.inputs.version }}
            
            **Checklist BEFORE release:**
            - [ ] CI checks passing
            - [ ] All related features were tested
            - [ ] Update / migration was tested
            - [ ] Version was updated by actions bot
            - [ ] Open Source Notices wer updated for FOSS and PLAY

            **DO NOT SQUASH THE COMMITS!**
      
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      
      - name: Update Version
        run: ./gradlew updateVersion -Pversion=${{ github.event.inputs.version }}
      
      - name: Update Play Open Source Licenses
        run: ./gradlew licensePlayReleaseReport && mv app/src/playRelease/assets/open_source_licenses.html app/src/play/assets/open_source_licenses.html

      - name: Update FOSS Open Source Licenses
        run: ./gradlew licenseFossReleaseReport && mv app/src/fossRelease/assets/open_source_licenses.html app/src/foss/assets/open_source_licenses.html

      - name: Commit and Push
        uses: github-actions-x/commit@v2.9
        with:
          name: Release Bot
          push-branch: release/${{ github.event.inputs.version }}
          commit-message: Update version to ${{ github.event.inputs.version }} and update open source licenses
          files: gradle.properties app/src/play/assets/open_source_licenses.html app/src/foss/assets/open_source_licenses.html
          

